{% extends 'base.html' %}
{% load static %}
{% block title %}SelAtt{% endblock %}
{% block content %}
    <main class="page landing-page">
        <div id="main-father" style="background: url('{% static 'img/image4.jpg' %}')">
            <div class="row text-center">
                <div class="col-md-5 font-weight-bold"> Feature filters with Django</div>
            </div>
        </div>
        <div class="bodyfree"></div>
        <div class="row font-weight-normal">
            <div class="card" style="width:25rem;">
                <img src="{% static 'img/dev.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DEVELOPER API</h5>
                    <p class="card-text">You will be able to upload your own datasets and run the required filters on
                        them using our public API.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="{% static 'img/web.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">WEB PORTAL</h5>
                    <p class="card-text">We offer our services via our own web portal free to use..</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

        </div>
    </main>
{% endblock %}